step-function-definition.json
{
  "Comment": "Per-job: poll Veo status and callback on ready/error. Input: { callbackBaseUrl, jobId, operationName }. Job processing is done by Cloud Tasks callback.",
  "StartAt": "CheckStatus",
  "States": {
    "CheckStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:917411395508:function:callbackApiCall",
        "Payload": {
          "callbackBaseUrl.$": "$.callbackBaseUrl",
          "apiPath": "/api/veo-status",
          "body": {
            "operationName.$": "$.operationName",
            "jobId.$": "$.jobId"
          }
        }
      },
      "ResultPath": "$.checkResult",
      "Next": "BranchOnStatus",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 10,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ]
    },
    "BranchOnStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            { "Variable": "$.checkResult.Payload.done", "BooleanEquals": true },
            { "Variable": "$.checkResult.Payload.videoUri", "IsPresent": true }
          ],
          "Next": "CallbackSuccess"
        },
        {
          "And": [
            { "Variable": "$.checkResult.Payload.done", "BooleanEquals": true },
            { "Variable": "$.checkResult.Payload.error", "IsPresent": true }
          ],
          "Next": "CallbackError"
        }
      ],
      "Default": "WaitThenCheck"
    },
    "WaitThenCheck": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "CheckStatus"
    },
    "CallbackSuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:917411395508:function:callbackApiCall",
        "Payload": {
          "callbackBaseUrl.$": "$.callbackBaseUrl",
          "apiPath": "/api/webhook/veo",
          "body": {
            "status": "ready",
            "videoUri.$": "$.checkResult.Payload.videoUri",
            "operationName.$": "$.operationName",
            "jobId.$": "$.jobId"
          }
        }
      },
      "End": true
    },
    "CallbackError": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:917411395508:function:callbackApiCall",
        "Payload": {
          "callbackBaseUrl.$": "$.callbackBaseUrl",
          "apiPath": "/api/webhook/veo",
          "body": {
            "status": "error",
            "error.$": "$.checkResult.Payload.error",
            "operationName.$": "$.operationName",
            "jobId.$": "$.jobId"
          }
        }
      },
      "End": true
    }
  }
}
